<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="PBL3_LastReal.Properties.Settings.QL_QuanNetConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=QL_QuanNetReal;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    <!--<add name="PBL3_LastReal.Properties.Settings.QL_QuanNetConnectionString" connectionString="Data Source=DESKTOP-ILLMULD\PVCSERVER;Initial Catalog=QL_QuanNet;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="PBL3_LastReal.Properties.Settings.QL_QuanNetConnectionString1"
            connectionString="Data Source=admin-pc\admin;Initial Catalog=QL_QuanNet;User ID=sa;Password=Qh@61030803"
            providerName="System.Data.SqlClient" />-->
  <add name="QL_QuanNetEntities" connectionString="metadata=res://*/DTO.QuanLyNet.csdl|res://*/DTO.QuanLyNet.ssdl|res://*/DTO.QuanLyNet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=admin-pc\admin;initial catalog=QL_QuanNet;user id=sa;password=Qh@61030803;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>